<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV</title>
</head>
<body>
<strong><%= head.name %></strong>
<br/>
<%= head.birth.de %>
<br/>
<br/>
<%= objective.de %>
<br/>
<br/>
<strong><%= education.title.de %></strong><br />
<% education.list.forEach((edu) => { %>
<small><i><%= edu.period %></i></small><br/>
<%= edu.title.de %><br/>
<br/>
<% }); %>
<br/>
<br/>
<strong><%= experience.title.de%></strong><br/>
<% experience.list.forEach((exp) => { %>
<small><i><%= exp.period.de %></i></small><br/>
<%= exp.title.de %><br/>
<br/>
<% }); %>
<br/>
<br/>
<% projects.forEach((prj) => { %>
    <strong><%= prj.title.de %></strong>
    <br/>
    <br/>
    <% prj.list.forEach((p) => { %>
        <small><i><%= p.period %></i></small><br/>
        <small><%= p.type.de %></small><br/>
        <strong><%= p.title.de %></strong><br/>
        <%= p.description.de %>
        <ul>
            <% p.highlights.forEach((h) => { %>
            <li><%= h.de %></li>
            <% }) %>
        </ul>
        <br/>
        <br/>
    <% }); %>
<% }); %>
</body>
</html>