<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV</title>
</head>
<body>
<strong><%= head.name %></strong>
<br/>
<%= head.birth.en %>
<br/>
<br/>
<%= objective.en %>
<br/>
<br/>
<strong><%= education.title.en %></strong><br />
<% education.list.forEach((edu) => { %>
<small><i><%= edu.period %></i></small><br/>
<%= edu.title.en %><br/>
<br/>
<% }); %>
<br/>
<br/>
<strong><%= experience.title.en%></strong><br/>
<% experience.list.forEach((exp) => { %>
<small><i><%= exp.period.en %></i></small><br/>
<%= exp.title.en %><br/>
<br/>
<% }); %>
<br/>
<br/>

<strong><%= technologies.title.en%></strong><br/>
<% technologies.list.forEach(item => { %>
<%= item + ',' %>
<% }); %>
<br/>
<br/>
<% projects.forEach((prj) => { %>
    <strong><%= prj.title.en %></strong>
    <br/>
    <br/>
    <% prj.list.forEach((p) => { %>
        <small><i><%= p.period %></i></small><br/>
        <!--small><%= p.type.de %></small><br/-->
        <strong><%= p.title.en %></strong><br/>
        <%= p.description.en %>
        <ul>
            <% p.highlights.forEach((h) => { %>
            <li><%= h.en %></li>
            <% }) %>
        </ul>
        <br/>
        <br/>
    <% }); %>
<% }); %>
</body>
</html>
